*{
    box-sizing: border-box;
    margin: 0;
}
.podreva{
    flex-grow: 1;
    padding: 20px;
}
.special{
    display: flex;
    justify-content: space-between;
}
.layout{
    margin-left: 30px;
}
.layout img{
    width: 100px;
}
.sign-up ul{
    display: flex;
   list-style-type: none;

}
.sign-up li{
    margin-right: 50px;

}
.sign-up a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.info{
    padding: 20px;
    height: 170px;
}
.info p{
    font-weight: lighter;
    text-align: center;
}
.fill{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
input{
    width: 400px;
    padding: 10px;
    font-size: 12px;
}
button{
    width: 90px;
    padding: 10px;
    border: 1px solid grey;
    cursor: pointer;
    margin-left: -5px;

}
.below {
    padding: 30px;
    width: 100%;
    margin: auto;
}
.below p{
    text-align: center;
    line-height: 3.0;
    font-size: 12px;
    font-weight: bold;
}
.divide{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
    align-content: center;
}
header {
    position: relative;
    height: 200px;
    transform:rotate(180deg);
  }
  
  svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
  }
  
 .starter{
     padding: 50px;
 }
  .bottom{
      display: flex;
  }
  .line{
      width: 600px;
  }
  .short img{
      width: 100px;
      margin-left: 40px;
      margin-bottom: 20px;
  }
  .line p{
      font-size: 12px;
      font-weight: lighter;
      line-height: 3.0;
      color: white;
      margin-left: 40px;
  }
  .icons{
      display: flex;
      justify-content: space-between;
    width: 70px;
    margin-left: 40px;
    margin-top: 20px;
}
  .icons img{
      width: 20px;
  }
  .toghether{
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      /* margin-right: 70px; */
  }
  .company{
      width: 200px;
  }
  .company h4 {
      margin-bottom: 20px;
  }
  .product h4{
      margin-top: 10px;
      margin-bottom: 15px;
  }
.company p, .product p{
    line-height: 3.0;
    font-size: 12px;
    font-weight: lighter;
}
footer{
    font-size: 12px;
    margin-top: 10px;
    margin-left: 40px;
}