.stretch{
    background-color: #24279D !important;
}
.list a{
    color:#FFFFFF !important;
}
.info{
    background-color:#737474 !important;
}
.info p{
    color:#4A4649;
}
.me{
    background-color: #FFFFFF !important;
    color:#4A4649 !important;
}
.below h4{
    color: #4A4649;
}
.below p{
    color:#24279D;
}
.short h5, .line p, .company h5, .product h5, .company p, .product p, footer{
    color: #FFFFFF;
}